@import "../styles/ds/styles.css";
@import "tailwindcss";

:root {
  --background: var(--mecanu-bg-primary-light);
  --foreground: var(--mecanu-text-primary-light);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--mecanu-font-family);
}

body {
  background: var(--background);
  color: var(--foreground);
}
